#first{
  background: #fc5c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fc5c7d, #6a82fb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fc5c7d, #6a82fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 10px;
  padding-top: 10px;
}

*{
  margin: 0;
  padding: 0;
}

#instruction{

  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 25px;

}

#welcome{
  font-family: 'Bungee Outline', cursive;
  font-size: 50px;
  color:white;
  font-weight: bold;

}

#timeInDisplay{

  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  color:black;
}

#startButton{

  background: white;
  color: black;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#startButton:hover{

  background: black;
  color:white;
  font-family: 'Orbitron', sans-serif;
  border: 2px solid black;
  padding: 10px;
  box-shadow: none;

}
button:focus {outline:0;}

.middle {
  text-align: center;
  margin:auto;
  display:block;
}

.circle {

    width:150px;
    height:150px;
    border-radius: 50%;
    margin:50px;
    float: left;
    display:none;
    position: relative;
}

.square{
    width: 150px;
    height: 150px;
    margin: 20px;
    display:none;
    position: relative;
}

.rectangle{
  width: 200px;
  height: 100px;
  margin: 20px;
  display:none;
  position: relative;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  position: relative;
  background: transparent;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid yellow;
  position: relative;
  background: transparent;
}

.parallelogram {
  width: 100px;
  height: 50px;
  transform: skew(20deg);
  position: relative;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid green;
  border-bottom: 50px solid transparent;
  position: relative;
  background: transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid blue;
  border-bottom: 50px solid transparent;
  position: relative;
  background: transparent;
}
.trapezoid {
  border-bottom: 100px solid cyan;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 150px;
  position: relative;
  background: transparent;
}
